html, body, div, iframe 
{
 margin: 0px; 
 padding: 0px; 
 height: 100%; 
 border: none;
 overflow-y: hidden;
}
iframe {
  pointer-events:none;
}
.titlebar {
  height: 10%;
  background: green;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.titlebar-button:hover {
  background: lightgreen;
}

iframe {
    pointer-events: none;
}